header{
    display:flex;
    background-color: rgb(167, 166, 166);
    color:black
}

.name{
    padding-left:50px;
    flex:2 1 10px;
    left:50px;
}

h1 span{
    background-color:teal;
    padding:5px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:50px;
}

nav{
    align-items: center;
    display:flex;
    flex:1 1 50px;
    justify-content: space-between;
    padding-right:50px;
}

a{
   color:black;
   text-decoration:underline overline;
   text-decoration-style:solid;
   font-family:monospace;
   font-size:20px;
}

a:hover{
    background-color: white;
    color:black;
}

.subheading{
    background-image: url(https://cdn.pixabay.com/photo/2015/08/11/22/43/teal-885329_960_720.png); 
    width: 100%;
    height: 150px;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}

h2{
    margin:0px;
    padding:5px 20px;
    
}

#span2{
    background-color:teal;
    font-family:"Open Sans";
    font-size:30px;
    color:white;
}

main{
    display:flex;
    background-color:violet
}

aside{
    height: 100%;
    flex:1 1;
    display:flex;
    background-color:tomato;
    flex-direction:column;
    align-items:flex-end;
}

.articles{
    flex:3 1;
    height:100%
}

.Aboutmelabel{
    height:300px;
    width:100%;
    /* border-right:teal solid 10px; How can I add a border without scootching the whole element? */
    /* padding-bottom:2px;  Do you know the trait to round the border edges? */
    background-color: thistle;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.label h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
    color:teal;
}

.Worklabel{
    height:600px;
    width:100%;
    background-color: rgb(94, 34, 94);
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Contactmelabel{
    height:100px;
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}